In [3]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
select distinct m2.firstname as firstname, m2.surname as surname
	from 
		Members m
		inner join Members m2
			on m2.memid = m.recommendedby
order by surname, firstname; 
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Florence', 'Bader')
('Timothy', 'Baker')
('Gerald', 'Butters')
('Jemima', 'Farrell')
('Matthew', 'Genting')
('David', 'Jones')
('Janice', 'Joplette')
('Millicent', 'Purview')
('Tim', 'Rownam')
('Darren', 'Smith')
('Tracy', 'Smith')
('Ponder', 'Stibbons')
('Burton', 'Tracy')

In [ ]:
/* Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! */

select name, revenue from (
	select Facilities.name, sum(case 
				when memid = 0 then slots * Facilities.guestcost
				else slots * Facilities.membercost
			end) as revenue
		from Bookings 
		inner join Facilities
			on Bookings.facid = Facilities.facid
		group by Facilities.name
	) as agg where revenue < 1000
order by revenue DESC;

In [ ]:
/* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */
    
select distinct m2.firstname as firstname, m2.surname as surname
	from 
		Members m
		inner join Members m2
			on m2.memid = m.recommendedby
order by surname, firstname;

In [ ]:
/* Q12: Find the facilities with their usage by member, but not guests */

SELECT facid, sum(slots) as Total FROM Bookings
	INNER JOIN Members ON Bookings.memid = Members.memid
GROUP BY facid
ORDER BY facid

In [ ]:
/* Q13: Find the facilities usage by month, but not guests */

SELECT facid, extract(month from starttime) AS month, sum(slots) AS Total
FROM Bookings
WHERE extract(year from starttime) = 2012
GROUP BY facid, month
ORDER BY facid, month